// Body Settings

// Body custom variables
$font-color: $grey;
$font-size: 14px;
$line-height: 20px;
$border-radius: 2px;

// Body custom classes
html {
    height: 100%;
}

body {
    @extend %base-font;
    color: $font-color;
    font-size: $font-size;
    line-height: $line-height;
    height: 100%;
    -webkit-text-size-adjust: 100%; // Disable Safari resizes text on orientation change
}