@import '~src/styles.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

@include media-breakpoint-up(md) {
    .header {
        background-color: $black-alpha-opacity;
    }
}