@import '~src/styles.scss';

.panel {
    position: relative;

    &__heading {
        border-bottom: 1px solid $lightening-grey;
        cursor: pointer;
        font-size: 24px;
        line-height: 28px;
        padding: 20px 0;

        &:after {
            @include svg-icons('arrow');
            @include transition(transform, .3s, ease);
            position: absolute;
            top: 24px;
            right: 16px;
            background-repeat: no-repeat;
            background-size: 16px;
            content: ' ';
            height: 16px;
            width: 16px;

            .opened & {
                @include rotate(180deg);
                @include transition(transform, .5s, ease-in);
            }
        }
    }

    &__body {
        @include transition(all, .3s, ease);
        border: none;
        overflow: hidden;
        padding: 0;
        max-height: 0;

        &.active {
            @include transition(all, .5s, ease-in);
            border-bottom: 2px solid $brown;
            max-height: 2000px;
            padding: 20px 0;
        }
    }
}