<nav class="navigation" [class.open]="isMobile && showMenu">
    <ng-container *ngIf="showMenu">
        <ul class="navigation__menu">
            <li
                *ngFor="let nav of navigation"
                class="navigation__menu--element"
            >
                <a
                    class="navigation__menu--element__link"
                    [routerLink]="nav.link"
                    [routerLinkActive]="['active']"
                    (click)="isMobile ? showMenu = false : showMenu = true"
                >
                    <span class="navigation__menu--element__label">
                        {{ nav.menuLabel }}
                    </span>
                </a>
            </li>
        </ul>
    </ng-container>

    <div
        *ngIf="isMobile"
        class="navigation__mobile-button"
        (click)="toggleMobileMenu()"
    >
        {{ showMenu ? 'Close' : 'Menu' }}
    </div>
</nav>
