// Colours

$white: #FFF;
$whiteFCF: #FCF8F8;
$lightening-grey: #E6E7E9;
$lighter-grey: #D8D8D8;
$light-grey: #818284;
$grey: #757679;
$dark-grey: #6A6B6D;
$darker-grey: #5F6062;
$menu-grey: #282828;
$brown: #DE886A;

$light-blue: #00b0b9;
$green: #00A052;
$red: #e50b0b;
$black: #000;
$off-black: #272727;
$black-alpha-opacity: rgba(0, 0, 0, .3);
$blue-violet: #b873f4;

$transparent: rgba(0, 0, 0, 0);
